@layer reset, base, utilities;

@layer reset {
	/** https://www.joshwcomeau.com/css/custom-css-reset/ */

	/* 1. Use a more-intuitive box-sizing model */
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	/* 2. Remove default margin */
	* {
		margin: 0;
	}

	/* 3. Enable keyword animations */
	@media (prefers-reduced-motion: no-preference) {
		html {
			interpolate-size: allow-keywords;
		}
	}

	body {
		/* 4. Add accessible line-height */
		line-height: 1.5;
		/* 5. Improve text rendering */
		-webkit-font-smoothing: antialiased;
	}

	/* 6. Improve media defaults */
	img,
	picture,
	video,
	canvas,
	svg {
		display: block;
		max-inline-size: 100%;
	}

	/* 7. Inherit fonts for form controls */
	input,
	button,
	textarea,
	select {
		font: inherit;
	}

	/* 8. Avoid text overflows */
	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		overflow-wrap: break-word;
	}

	/* 9. Improve line wrapping */
	p {
		text-wrap: pretty;
	}
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		text-wrap: balance;
	}
}

@layer base {
	button {
		cursor: pointer;
	}

	html {
		block-size: 100%;
		font-family: "Comfortaa", sans-serif;
	}

	body {
		block-size: 100%;
	}

	#__nuxt {
		block-size: 100%;
	}
}

/* enable transitions */
[popover],
dialog,
::backdrop {
	transition:
		display 0.2s allow-discrete,
		overlay 0.2s allow-discrete,
		opacity 0.2s,
		translate 0.2s;
	opacity: 0;
}

/* Disable transitions for reduced motion */
@media (prefers-reduced-motion: reduce) {
	[popover],
	dialog,
	::backdrop {
		transition: none;
	}
}

/* On Stage */
:popover-open,
:popover-open::backdrop,
[open],
[open]::backdrop {
	opacity: 1;
}

/* Off Stage */
@starting-style {
	:popover-open,
	:popover-open::backdrop,
	[open],
	[open]::backdrop {
		opacity: 0;
	}
}
